.grid-container {
  background-color: $app-color-primary1;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 2fr 1fr;
}

.grid-container > * {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  grid-column: 1 / span 2;
}

@media (min-width: 992px) {
  .grid__img {
    grid-area: 2 / 2 / 4 / 2;
  }
}

@media (max-width: 992px) {
  header,
  footer,
  .grid__img,
  .grid__description {
    grid-column: 1 / span 2;
  }
  .grid-container {
    grid-template-rows: 80px 1.5fr 1.5fr 1fr;
  }
}
