// Color Scheme

// First Color Scheme
$app-color-primary1: #ffffff; // White
$app-color-primary2: #ececec; // Isablelline
$app-color-primary3: #d1d1d1; // Light gray

// Second Color Scheme
$app-color-secondary1: #0c0910; // Smoky Black
$app-color-secondary2: #646266; // Granite Gray
$app-color-secondary3: #a6a5a8; // Quick Silver

// Font Family

// Tittles - Banner / Old Standard TT
$app-f-family1: "Old Standard TT", serif;

// Texts / Raleway
$app-f-family2: "Raleway", sans-serif;

// Font Weight
$app-fw-regular: 400;
$app-fw-bold: 900;

// Font Sizes
$app-f-size-x-small: 12px;
$app-f-size-small: 14px;
$app-f-size-medium: 16px;
$app-f-size-large: 18px;
$app-f-size-x-large: 20px;
$app-f-size-xx-large: 30px;
$app-f-size-xxx-large: 50px;
